---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="h-[100vh] w-[100vw] bg-gradient-to-r from-[#24243e] via-[#302b63] to-[#0f0c29]">
		<slot />
	</body>
</html>
